



        {% extends 'core_base.html' %}

        {% load static %}

        {% block content %}
       
	   <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="breadcrumb-content">
                                <h2 class="title">Single Article</h2>
                                <nav aria-label="Breadcrumbs">
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a href="index.html"><span>Home</span></a>
                                        </li>
                                        <li class="breadcrumb-item"><span>Blog details</span></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- blog-area -->
            <section class="blog-details-area pt-130 pb-130">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="blog-post-item blog-details-wrap">
                                <div class="blog-post-thumb">
								   {% if post.image %}
                                    <img src="{{post.image.url}}" alt="">
									{% endif %}
                                </div>
                                <div class="blog-post-content">
                                    <div class="blog-meta">
                                        <ul>
                                            <li><a href="blog-details.html"><i class="far fa-user"></i>{{post.author}}</a></li>
                                            <li><i class="far fa-clock"></i>{{post.date_created}}</li>
                                           
                                        </ul>
                                    </div>
                                    <h2 class="title">{{post.title}}</h2>
                                    {{post.media}} 
									{{post.body|safe}}
                                   
                                </div>
                            </div>
							
							
							<!--
                            <div class="comment-wrap">
                                <h4 class="title">(04) Comment</h4>
                                <div class="latest-comments">
                                    <ul class="list-wrap">
                                        <li>
                                            <div class="comments-box">
                                                <div class="comments-avatar">
                                                    <img src="assets/img/blog/comment_avatar01.png" alt="">
                                                </div>
                                                <div class="comment-text">
                                                    <div class="avatar-name">
                                                        <h5 class="title">Kristin Watson <a href="#" class="comment-reply-link"><i class="fas fa-reply-all"></i></a>
                                                        </h5>
                                                        <span>19th August 2022</span>
                                                    </div>
                                                    <p>Patient Comments are a collection of comments submitted by viewers in response to a question posed by a
                                                        MedicineNet doctor.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <ul class="children">
                                                <li>
                                                    <div class="comments-box">
                                                        <div class="comments-avatar">
                                                            <img src="assets/img/blog/comment_avatar02.png" alt="">
                                                        </div>
                                                        <div class="comment-text">
                                                            <div class="avatar-name">
                                                                <h5 class="title">Brooklyn Simmons <a href="#" class="comment-reply-link"><i class="fas fa-reply-all"></i></a>
                                                                </h5>
                                                                <span>19th August 2022</span>
                                                            </div>
                                                            <p>Include anecdotal examples of your experience, or things you took notice of that you feel others would find useful.</p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
							-->
							
							<!--
                            <div class="post-comments-form">
                                <div class="post-comment-content">
                                    <h4 class="title">Leave a Reply</h4>
                                    <p>Your email address will not be published. Required fields are marked *</p>
                                </div>
                                <div class="comment-form">
                                    <form action="#">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-grp">
                                                    <input type="text" placeholder="Enter your Name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-grp">
                                                    <input type="email" placeholder="Enter your email">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-grp">
                                                    <input type="text" placeholder="Enter your number">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-grp">
                                                    <input type="text" placeholder="Enter your website">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-grp">
                                            <textarea name="comment" placeholder="Type your comment"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-two">Post comment</button>
                                    </form>
                                </div>
                            </div
							-->
							
                        </div>
	
                        <div class="col-lg-4">
                            <aside class="blog-sidebar">
                                <div class="blog-widget">
                                    <h2 class="bw-title">Search Here</h2>
                                    <form action="#" class="sidebar-search">
                                        <input type="text" placeholder="Search post">
                                        <button type="submit"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
								
								<!--
                                <div class="blog-widget">
                                    <h2 class="bw-title">Categories</h2>
                                    <div class="category-list">
                                        <ul>
                                            <li><a href="#">Chemistry <span>03</span></a></li>
                                            <li><a href="#">Forensic science <span>07</span></a></li>
                                            <li><a href="#">Gemological <span>09</span></a></li>
                                            <li><a href="#">Chemistry <span>01</span></a></li>
                                            <li><a href="#">UI/UX Deisgn <span>00</span></a></li>
                                            <li><a href="#">Gemological <span>26</span></a></li>
                                        </ul>
                                    </div>
                                </div>
								-->
								
								<!--
                                <div class="blog-widget">
                                    <h2 class="bw-title">Pages</h2>
                                    <div class="page-list">
                                        <ul>
                                            <li><a href="#">Web Design<i class="fas fa-chevron-right"></i></a></li>
                                            <li><a href="#">Branding Design<i class="fas fa-chevron-right"></i></a></li>
                                            <li><a href="#">Photography<i class="fas fa-chevron-right"></i></a></li>
                                            <li><a href="#">Business Statergy<i class="fas fa-chevron-right"></i></a></li>
                                            <li><a href="#">UI/UX Deisgn<i class="fas fa-chevron-right"></i></a></li>
                                            <li><a href="#">Web Development<i class="fas fa-chevron-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div
								-->
								
                                <div class="blog-widget">
                                    <h2 class="bw-title">Recent Post</h2>
                                    <div class="rc-post-wrap">
                                        <div class="rc-post-item">
                                            <div class="rc-post-thumb">
                                                <a href="blog-details.html"><img src="assets/img/blog/rc_post_img01.jpg" alt=""></a>
                                            </div>
                                            <div class="rc-post-content">
                                                <span>4 March. 2022</span>
                                                <h4 class="title"><a href="blog-details.html">Don’t Underestimate The Software</a></h4>
                                            </div>
                                        </div>
                                        <div class="rc-post-item">
                                            <div class="rc-post-thumb">
                                                <a href="blog-details.html"><img src="assets/img/blog/rc_post_img02.jpg" alt=""></a>
                                            </div>
                                            <div class="rc-post-content">
                                                <span>4 March. 2022</span>
                                                <h4 class="title"><a href="blog-details.html">Designing Human-Machine Interfaces..</a></h4>
                                            </div>
                                        </div>
                                        <div class="rc-post-item">
                                            <div class="rc-post-thumb">
                                                <a href="blog-details.html"><img src="assets/img/blog/rc_post_img03.jpg" alt=""></a>
                                            </div>
                                            <div class="rc-post-content">
                                                <span>4 March. 2022</span>
                                                <h4 class="title"><a href="blog-details.html">Web Design Done Well: Excellent</a></h4>
                                            </div>
                                        </div>
                                        <div class="rc-post-item">
                                            <div class="rc-post-thumb">
                                                <a href="blog-details.html"><img src="assets/img/blog/rc_post_img04.jpg" alt=""></a>
                                            </div>
                                            <div class="rc-post-content">
                                                <span>4 March. 2022</span>
                                                <h4 class="title"><a href="blog-details.html">Don’t Underestimate The Software</a></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-widget">
                                    <h2 class="bw-title">Popular Tag</h2>
                                    <div class="tag-list">
                                        <ul>
                                            <li><a href="#">landing</a></li>
                                            <li><a href="#">Charity</a></li>
                                            <li><a href="#">apps</a></li>
                                            <li><a href="#">Education</a></li>
                                            <li><a href="#">data</a></li>
                                            <li><a href="#">book</a></li>
                                            <li><a href="#">Design</a></li>
                                            <li><a href="#">website</a></li>
                                            <li><a href="#">landing page</a></li>
                                            <li><a href="#">data</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog-area-end -->

        </main>
        <!-- main-area-end -->

       {% endblock %}
