{% extends 'dashboard_base.html' %}
{% load static %}
{% block content %}
   <div class="content-wrapper">
  <div class="content">
<!-- Card with Deck -->
<div class="card card-default">
  <div class="card-header">
    <h2>Manage All Blog Posts</h2>
    </div>
	<div class="row">
	{% if posts %}
    {% for post in posts %}
	<div class="col-lg-4 col-xl-4">
    <div class="card mb-4 p-0">
      <h5 class="card-title  pt-4 px-6">{{post.title}}</h5>
      <div class="card-body">
        <img class="card-img-top mb-4 rounded" src="images/elements/cc1a.jpg">
        <p class="card-text pb-3">{{post.get_snippet|safe}} </p>
         <div >

          <a class="btn btn-info d-inline shadow" href="{% url 'blog:edit_post' post.slug %}"> Edit</a>
           <a class="btn btn-danger d-inline shadow" href="{% url 'blog:delete_post' post.slug %}"> Delete</a>
          </div>
      </div>
    </div>
  </div>
	  {% endfor %}
       {% endif %}
	
	
</div>
</div>
</div>



{% endblock %}


