
       {% extends 'auth_base.html' %}

        {% load static %}

        {% block content %}
            <div class="main">

                <section class="signup">
                    <div class="container" style="padding:10%;">
                        <div class="signup-content">
						
							<div class="card card-default">
							  <div class="card-header">
								<div class="app-brand w-100 d-flex justify-content-center border-bottom-0">
								  <a class="w-auto pl-0" href="/index.html">
									<img style="width:50px;" src="{% static 'images/onic1_logo.png' %}" alt="Mono">
									{% comment %} <span class="brand-name text-dark">MONO</span> {% endcomment %}
								  </a>
								</div>
							  </div>
							  <div class="card-body p-5">

							   <div class=" text-center">
									<h4 class="card-title">Forgot Password?</h4>
									<p class="card-subtitle">Recover your account password</p>
								</div>
								<div class="">

									<div class="alert alert-light border-1 border-left-3 border-left-primary d-flex" role="alert">
										<i class="material-icons text-success mr-3">check_circle</i>
										<div class="text-body">An email with password reset instructions will be sent to your email address, if it exists on our system.
										 <span class="text-danger">**please check your Spam boxes if you cannot see it in your mail inbox </span>
										</div>
										
									</div>

							  </div>
							</div>
						  </div>
						</div>
                    </div>
				</div>
			</section>
		</div>
	{% endblock %}