
       {% extends 'auth_base.html' %}

        {% load static %}

        {% block content %}            
		<div class="main">

             <section class="signup">
                <div class="container" style="padding:10%;">
                    <div class="signup-content">
						
		
						<div class="card card-default">
						  <div class="card-header">
							<div class="app-brand w-100 d-flex justify-content-center border-bottom-0">
							  <a class="w-auto pl-0" href="/index.html">
								<img style="width:50px;" src="{% static 'images/onic1_logo.png' %}" alt="logo">
							  
							  </a>
							</div>
						  </div>
						  <div class="card-body p-5">

								  <<div style="background-color:black; padding:4%; border-radius: 5%;" >
									<p>{% include 'partials/_messages.html'%}</p>

									<div class="alert alert-success" role="alert">
										you have successfully changed your password
									</div>

								</div>
						  </div>
						</div>
					</div>
				</div>
			</section>
		</div>
		{% endblock %}
              