
       {% extends 'auth_base.html' %}

        {% load static %}

        {% block content %}
		   
                
		<div class="main">

             <section class="signup">
                <div class="container" style="padding:10%;">
                    <div class="signup-content">
						
						<div class="card card-default">
						  <div class="card-header">
							<div class="app-brand w-100 d-flex justify-content-center border-bottom-0">
							  <a class="w-auto pl-0" href="/index.html">
								<img style="width:50px;" src="{% static 'images/onic1_logo.png' %}" alt="Mono">
							
							  </a>
							</div>
						  </div>
						  <div class="card-body p-5">
							<h4 class="text-dark mb-5">Reset Your Password</h4>
							<form action="" method ="post">
							{% csrf_token %}
							  <div class="row">
								<div class="form-group col-md-12 mb-4">
								  <p><label class="form-label" for="email">Email address:</label> </p>

								   {{form.email}}
								</div>

								<div class="col-md-12">
								  <button type="submit" class="btn btn-block btn-primary btn-pill mb-4">Submit</button>

								  <p>Already have an account?
									<a class="text-blue" href="{% url 'authentication:signin' %}">Sign in</a>
								  </p>
								</div>
							  </div>
							</form>

						  </div>
					</div>
				</div>
			</section>
	    </div>
                