{% extends 'auth_base.html' %}
{% load static %}
{% block content %}
       {% extends 'auth_base.html' %}

        {% load static %}

        {% block content %}            
		<div class="main">

             <section class="signup">
                <div class="container" style="padding:10%;">
                    <div class="signup-content">
						

						<div class="card card-default">
						  <div class="card-header">
							<div class="app-brand w-100 d-flex justify-content-center border-bottom-0">
							  <a class="w-auto pl-0" href="/index.html">
								<img style="width:50px;" src="{% static 'images/onic1_logo.png' %}" alt="Mono">
								
							  </a>
							</div>
						  </div>
						  <div class="card-body p-5">

								  <form action=""  method="post">
									{% csrf_token %}
									<div class="form-group">
										<label class="form-label" for="email">Email address:</label>
										<div class="input-group input-group-merge">
											<span class="">
											{{form}}
											</span>
											<div class="input-group-prepend">
												<div class="input-group-text">
													<span class="far fa-envelope"></span>
												</div>
											</div>
										</div>
									</div>

									<button type="submit" class="btn btn-primary btn-block">Reset Password</button>
								</form>
						  </div>
						</div>
					</div>
				</div>
			</section>
		</div>
		</div>
             
{% endblock %}
