
        {% load static %}
        <!-- header-area -->
        <header id="header">
            <div id="sticky-header" class="menu-area menu-style-two transparent-header">
                <div class="container custom-container-three">
                    <div class="row">
                        <div class="col-12">
                            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                            <div class="menu-wrap">
                                <nav class="menu-nav">
                                    <div class="logo">
                                        <a href="{% url 'core:index' %}"><img src="{% static 'assets/img/livetos_logo_light.png' %}" alt=""></a>
                                    </div>
                                    <div class="navbar-wrap main-menu d-none d-lg-flex">
                                        <ul class="navigation">
                                            <li class="active menu-item-has-children"><a href="#header" class="section-link">Home</a></li>
                                            <li><a href="#about" class="section-link">About us</a></li>
                                            <li><a href="#roadmap" class="section-link">Roadmap</a></li>
                                            <li><a href="#faq" class="section-link">Faq</a></li>
											<li><a href="#testimoney" class="section-link">testimonies</a></li>
                                            <li><a href="{% url 'blog:user_all_post' %}" class="section-link">Blog</a></li>
                                            <li><a href="#contact" class="section-link">Contact us</a></li>
                                        </ul>
                                    </div>
                                    <div class="header-action d-none d-md-block">
                                        <ul>
                                            <li class="header-lang"><span class="selected-lang">ENG</span>
                                                <!--<ul class="lang-list">
                                                    <li><a href="#">IND</a></li>
                                                    <li><a href="#">BNG</a></li>
                                                    <li><a href="#">TUR</a></li>
                                                    <li><a href="#">CIN</a></li>
                                                </ul>-->
                                            </li> 
											 
											
                                            <li class="header-btn d-inline"><a href="{% url 'auth:signin' %}" class="btn">Login</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <!-- Mobile Menu  -->
                            <div class="mobile-menu">
                                <nav class="menu-box">
                                    <div class="close-btn"><i class="fas fa-times"></i></div>
                                    <div class="nav-logo"><a href="index.html"><img src="{% static 'assets/img/logo/logo.png' %}" alt="" title=""></a>
                                    </div>
                                    <div class="menu-outer">
                                        <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                                    </div>
                                    <div class="social-links">
                                        <ul class="clearfix">
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <div class="menu-backdrop"></div>
                            <!-- End Mobile Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header-area-end -->